src/main/app/pnrstatus.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="pnrstatusFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/pnrstatus" doc:name="HTTP"/>
        <logger message="The request was recieved...... " level="INFO" doc:name="Logger"/>
        <set-payload value="{ &quot;pnr no:&quot; #[message.inboundProperties.'http.query.params'.pnrno] , &quot;name:&quot; K sailakshmi,  &quot;Age:&quot; 39  &quot;Status:&quot; CNF   } " doc:name="Set Payload"/>
        <logger message="The ticket is : #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
